&--amber{
  background-color: #f0a30a;
  .plyr{
    &--audio{
      .plyr__controls {
        input[type=range]:active{
          &::-webkit-slider-thumb {
            background: #f0a30a;
          }
          &::-moz-range-thumb {
            background: #f0a30a;
          }
          &::-ms-thumb {
            background: #f0a30a;
          }
        }

      }

    }

  }
}
