&--apple{
  .plyr{
    &--audio{
      .plyr__controls {
        background-image: linear-gradient(to right, #F2528E 0%, #7433B5 100%);
        border: none;

        input[type=range]:active{
          &::-webkit-slider-thumb {
            background: #ff00ff;
          }
          &::-moz-range-thumb {
            background: #ff00ff;
          }
          &::-ms-thumb {
            background: #ff00ff;
          }
        }

      }

    }

  }
}
