&--sienna{
  background-color: #7a3a3e;
  .plyr{
    &--audio{
      .plyr__controls {

        $thumb-color: #7a3a3e;

        input[type=range]:active{
          &::-webkit-slider-thumb {
            background: $thumb-color;
          }
          &::-moz-range-thumb {
            background: $thumb-color;
          }
          &::-ms-thumb {
            background: $thumb-color;
          }
        }
      }

    }

  }
}
