&--teal{
  background-color: #00aaa8;
  .plyr{
    &--audio{
      .plyr__controls {

        $thumb-color: #00aaa8;

        input[type=range]:active{
          &::-webkit-slider-thumb {
            background: $thumb-color;
          }
          &::-moz-range-thumb {
            background: $thumb-color;
          }
          &::-ms-thumb {
            background: $thumb-color;
          }
        }
      }

    }

  }
}
