.ttsaudio-player audio { display: none}

.ttsaudio-player-single .ttsaudio-player{
  padding-right: 30px;
  position: relative;
}

.ttsaudio-player-single .ttsaudio-player a.cpr{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../img/q.svg) center no-repeat;
  background-size: 40%;
  background-color: rgba(255,255,255,0.05);
  width: 30px;
  text-decoration: none;
  box-shadow: none;
  outline: none;
}
.ttsaudio-player-single .ttsaudio-player a.cpr:hover{
  text-decoration: none;
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.1);
}

/* Playlist */
.widget-playlist ul.playlist {
  list-style: none;
  margin: 0!important;
  padding: 0 20px!important;
  font-size: 14px;
  line-height: .95;
  color: #565D64;
  border: 1px solid #dbe3e8;
  border-top: none;
}
.widget-playlist ul.playlist li {
  margin: 0!important;
  padding: 10px 0px!important;
  list-style: none;
  cursor: pointer;
  line-height: 1.6;
  border: none;
  border-bottom:1px dotted #dbe3e8
}
.widget-playlist ul.playlist li:last-child {border-bottom: none}

.widget-playlist ul.playlist li .post-date{ color: rgba(255,255,255,0.3); font-style: oblique; font-size: 90%}
.widget-playlist.ttsaudio-default ul.playlist li .post-date{ color: rgba(0,0,0,0.3);}

.widget-playlist ul.playlist li:before { content: ''}

.widget-playlist ul.playlist li:hover,
.widget-playlist ul.playlist li.active {
  color: #3498db;
}

.widget-playlist .buttons { display:  none}


.plyr[max-width~="360px"] .plyr__volume {
  display: none
}

.widget-playlist .copyrights{
  font-size: 12px;
  padding: 10px 20px;
  text-align: center;
}

.widget-playlist .copyrights a,
.widget-playlist .copyrights a:hover,
.widget-playlist .copyrights a:focus,
.widget-playlist .copyrights a:active{
  color: rgba(255,255,255,0.4);
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: none;
}

.widget-playlist.ttsaudio-default .copyrights{
  border: 1px solid #dbe3e8;
  border-top: none;
}

.widget-playlist.ttsaudio-default .copyrights a{
  color: #a0a0a0;
}
