.ttsaudio-apple,
.ttsaudio-apple .plyr--audio .plyr__controls {
  /* IE10+ */
  background-image: -ms-linear-gradient(left, #F2528E 0%, #7433B5 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #F2528E 0%, #7433B5 100%);

  /* Opera */
  background-image: -o-linear-gradient(left, #F2528E 0%, #7433B5 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F2528E), color-stop(100, #7433B5));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #F2528E 0%, #7433B5 100%);

  /* W3C Markup */
  background-image: linear-gradient(to right, #F2528E 0%, #7433B5 100%);
  border: none;
}

.ttsaudio-apple .plyr--audio .plyr__progress--buffer{
  color: rgba(255,255,255,0.7);
}

.ttsaudio-apple .plyr--audio .plyr__progress--buffer,
.ttsaudio-apple  .plyr--audio .plyr__volume--display{
  background-color: rgba(0,0,0,0.2);
}
.ttsaudio-apple .plyr--audio .plyr__progress--played,
.ttsaudio-apple .plyr--audio .plyr__volume--display {
  color: #fff;
}

.ttsaudio-apple .plyr--audio input[type=range]:active::-webkit-slider-thumb{	background:#F2528E;}
.ttsaudio-apple .plyr--audio input[type=range]:active::-moz-range-thumb{	background:#F2528E;}
.ttsaudio-apple .plyr--audio input[type=range]:active::-ms-thumb{	background:#F2528E;}

.ttsaudio-apple .plyr--audio .plyr__time--current { color: #fff}

.ttsaudio-apple .plyr--audio button {color: #fff; background: none;}

.ttsaudio-apple .plyr--audio button:hover {color: rgba(255,255,255,0.7); background: none;}


/* playlist */
.widget-playlist.ttsaudio-apple ul.playlist{ background-color: rgba(255,255,255,0.1); border: none; color: #ccc}
.widget-playlist.ttsaudio-apple ul.playlist li { border-color: rgba(255,255,255,0.5); color: rgba(255,255,255,0.7)}

.widget-playlist.ttsaudio-apple ul.playlist li:hover,
.widget-playlist.ttsaudio-apple ul.playlist li.active { color: #fff;}