.ttsaudio-dark-lime,
.ttsaudio-dark-lime .plyr--audio .plyr__controls {
  background-color: #1c1c1c;
  border: none;
}

.ttsaudio-dark-lime .plyr--audio .plyr__progress--buffer{
  color: #525252;
}

.ttsaudio-dark-lime .plyr--audio .plyr__progress--buffer,
.ttsaudio-dark-lime  .plyr--audio .plyr__volume--display{
  background-color: #080808;
}
.ttsaudio-dark-lime .plyr--audio .plyr__progress--played,
.ttsaudio-dark-lime .plyr--audio .plyr__volume--display {
  color: #a4c400;
}

.ttsaudio-dark-lime .plyr--audio input[type=range]:active::-webkit-slider-thumb{	background:#a4c400;}
.ttsaudio-dark-lime .plyr--audio input[type=range]:active::-moz-range-thumb{	background:#a4c400;}
.ttsaudio-dark-lime .plyr--audio input[type=range]:active::-ms-thumb{	background:#a4c400;}

.ttsaudio-dark-lime .plyr--audio .plyr__time--current { color: #a4c400}

.ttsaudio-dark-lime .plyr--audio button {color: #fff; background: none;}

.ttsaudio-dark-lime .plyr--audio button:hover {color: #a4c400; background: none;}


/* playlist */
.widget-playlist.ttsaudio-dark-lime ul.playlist{ background-color: #222; border: none; color: #ccc}
.widget-playlist.ttsaudio-dark-lime ul.playlist li { border-color: #454545}

.widget-playlist.ttsaudio-dark-lime ul.playlist li:hover,
.widget-playlist.ttsaudio-dark-lime ul.playlist li.active { color: #a4c400;}
