.ttsaudio-dark {
  background-color: #1C1C1C;
}
.ttsaudio-dark .plyr--audio .plyr__controls {
  background-color: #1c1c1c;
  border: none;
}

.ttsaudio-dark .plyr--audio .plyr__progress--buffer{
  color: #525252;
}

.ttsaudio-dark .plyr--audio .plyr__progress--buffer,
.ttsaudio-dark .plyr--audio .plyr__volume--display{
  background-color: #080808;
}

.ttsaudio-dark .plyr--audio .plyr__time--current { color: #3498db}

.ttsaudio-dark .plyr--audio button {color: #fff; background: none;}

.ttsaudio-dark .plyr--audio button:hover {color: #3498db; background: none;}


/* playlist */
.widget-playlist.ttsaudio-dark ul.playlist{ background-color: #222; border: none; color: #ccc}
.widget-playlist.ttsaudio-dark ul.playlist li { border-color: #454545}
