.ttsaudio-dark-sienna .plyr--audio .plyr__controls {
  background-color: #1c1c1c;
  border: none;
}

.ttsaudio-dark-sienna .plyr--audio .plyr__progress--buffer{
  color: #525252;
}

.ttsaudio-dark-sienna .plyr--audio .plyr__progress--buffer,
.ttsaudio-dark-sienna  .plyr--audio .plyr__volume--display{
  background-color: #080808;
}
.ttsaudio-dark-sienna .plyr--audio .plyr__progress--played,
.ttsaudio-dark-sienna .plyr--audio .plyr__volume--display {
  color: #7a3a3e;
}

.ttsaudio-dark-sienna .plyr--audio input[type=range]:active::-webkit-slider-thumb{	background:#7a3a3e;}
.ttsaudio-dark-sienna .plyr--audio input[type=range]:active::-moz-range-thumb{	background:#7a3a3e;}
.ttsaudio-dark-sienna .plyr--audio input[type=range]:active::-ms-thumb{	background:#7a3a3e;}

.ttsaudio-dark-sienna .plyr--audio .plyr__time--current { color: #7a3a3e}

.ttsaudio-dark-sienna .plyr--audio button {color: #fff; background: none;}

.ttsaudio-dark-sienna .plyr--audio button:hover {color: #7a3a3e; background: none;}


/* playlist */
.widget-playlist.ttsaudio-dark-sienna ul.playlist{ background-color: #222; border: none; color: #ccc}
.widget-playlist.ttsaudio-dark-sienna ul.playlist li { border-color: #454545}

.widget-playlist.ttsaudio-dark-sienna ul.playlist li:hover,
.widget-playlist.ttsaudio-dark-sienna ul.playlist li.active { color: #7a3a3e;}