.ttsaudio-dark-pink .plyr--audio .plyr__controls {
  background-color: #1c1c1c;
  border: none;
}

.ttsaudio-dark-pink .plyr--audio .plyr__progress--buffer{
  color: #525252;
}

.ttsaudio-dark-pink .plyr--audio .plyr__progress--buffer,
.ttsaudio-dark-pink  .plyr--audio .plyr__volume--display{
  background-color: #080808;
}
.ttsaudio-dark-pink .plyr--audio .plyr__progress--played,
.ttsaudio-dark-pink .plyr--audio .plyr__volume--display {
  color: #f472cf;
}

.ttsaudio-dark-pink .plyr--audio input[type=range]:active::-webkit-slider-thumb{	background:#f472cf;}
.ttsaudio-dark-pink .plyr--audio input[type=range]:active::-moz-range-thumb{	background:#f472cf;}
.ttsaudio-dark-pink .plyr--audio input[type=range]:active::-ms-thumb{	background:#f472cf;}

.ttsaudio-dark-pink .plyr--audio .plyr__time--current { color: #f472cf}

.ttsaudio-dark-pink .plyr--audio button {color: #fff; background: none;}

.ttsaudio-dark-pink .plyr--audio button:hover {color: #f472cf; background: none;}


/* playlist */
.widget-playlist.ttsaudio-dark-pink ul.playlist{ background-color: #222; border: none; color: #ccc}
.widget-playlist.ttsaudio-dark-pink ul.playlist li { border-color: #454545}

.widget-playlist.ttsaudio-dark-pink ul.playlist li:hover,
.widget-playlist.ttsaudio-dark-pink ul.playlist li.active { color: #f472cf;}