.ttsaudio-dark-gray .plyr--audio .plyr__controls {
  background-color: #1c1c1c;
  border: none;
}

.ttsaudio-dark-gray .plyr--audio .plyr__progress--buffer{
  color: #525252;
}

.ttsaudio-dark-gray .plyr--audio .plyr__progress--buffer,
.ttsaudio-dark-gray  .plyr--audio .plyr__volume--display{
  background-color: #080808;
}
.ttsaudio-dark-gray .plyr--audio .plyr__progress--played,
.ttsaudio-dark-gray .plyr--audio .plyr__volume--display {
  color: #888;
}

.ttsaudio-dark-gray .plyr--audio input[type=range]:active::-webkit-slider-thumb{	background:#888;}
.ttsaudio-dark-gray .plyr--audio input[type=range]:active::-moz-range-thumb{	background:#888;}
.ttsaudio-dark-gray .plyr--audio input[type=range]:active::-ms-thumb{	background:#888;}

.ttsaudio-dark-gray .plyr--audio .plyr__time--current { color: #888}

.ttsaudio-dark-gray .plyr--audio button {color: #fff; background: none;}

.ttsaudio-dark-gray .plyr--audio button:hover {color: #888; background: none;}


/* playlist */
.widget-playlist.ttsaudio-dark-gray ul.playlist{ background-color: #222; border: none; color: #aaa}
.widget-playlist.ttsaudio-dark-gray ul.playlist li { border-color: #454545}

.widget-playlist.ttsaudio-dark-gray ul.playlist li:hover,
.widget-playlist.ttsaudio-dark-gray ul.playlist li.active { color: #fff;}