.ttsaudio-lime,
.ttsaudio-lime .plyr--audio .plyr__controls {
  background-color: #a4c400;
  border: none;
}

.ttsaudio-lime .plyr--audio .plyr__progress--buffer{
  color: rgba(255,255,255,0.7);
}

.ttsaudio-lime .plyr--audio .plyr__progress--buffer,
.ttsaudio-lime  .plyr--audio .plyr__volume--display{
  background-color: rgba(0,0,0,0.2);
}
.ttsaudio-lime .plyr--audio .plyr__progress--played,
.ttsaudio-lime .plyr--audio .plyr__volume--display {
  color: #fff;
}

.ttsaudio-lime .plyr--audio input[type=range]:active::-webkit-slider-thumb{	background:#a4c400;}
.ttsaudio-lime .plyr--audio input[type=range]:active::-moz-range-thumb{	background:#a4c400;}
.ttsaudio-lime .plyr--audio input[type=range]:active::-ms-thumb{	background:#a4c400;}

.ttsaudio-lime .plyr--audio .plyr__time--current { color: #fff}

.ttsaudio-lime .plyr--audio button {color: #fff; background: none;}

.ttsaudio-lime .plyr--audio button:hover {color: rgba(255,255,255,0.7); background: none;}


/* playlist */
.widget-playlist.ttsaudio-lime ul.playlist{ background-color: rgba(255,255,255,0.1); border: none; color: #ccc}
.widget-playlist.ttsaudio-lime ul.playlist li { border-color: rgba(255,255,255,0.5); color: rgba(255,255,255,0.7)}

.widget-playlist.ttsaudio-lime ul.playlist li:hover,
.widget-playlist.ttsaudio-lime ul.playlist li.active { color: #fff;}